#main_frame {
    width: 400px;
    height: 370px;
    margin: auto;
    margin-top: 100px;
    background: lightgray;
}

#display_block {
    padding: 20px;

}

#display_block input {
    width: 360px;
    font-size: 32pt;
}

#bttn_block {
    height: 240px;
    background: darkgray;
    /*margin: 20px;*/
    margin:20px;
}
#bttn_block input {
    height: 40px;
    width: 50px;
    margin: 9px;
    font-size: 24pt;

}
#bttn_block input.double_height {
    height: 100px;
    margin-right: 13px;
    float:right;


}